body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 356px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  background-color: #f2f0f0;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open .slideout-menu {
  display: block;
}

@keyframes circlebulger {
  0% {
  	top: 12.5px;
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
  90% {
  	top: 15px;
    width: 25px;
    height: 25px;
  }
}

.top-bar {
	position: fixed;
	width: 100%;
	z-index: 2;
	background-color: black;
	color: white;

	.top-bar-left {
		.dropdown {
			background-color: black; 
			.menu-text {
				font-family: "fertigo_proregular", sans-serif; 
				font-size: 28px;
			}
		}
	}

	.mini-list-link {
		cursor: pointer;
		background-color: black;
		position:relative;

		.fa-shopping-cart {
			line-height: 46px;
			font-size: 36px;
			padding-right: 30px;
		}

		.count {	
			text-align: center;
			position: absolute;
			background-color: #B90919;
		    width: 25px;
		    height: 25px;
		    border-radius: 50%;
		    right: 0;
		    top: 15px;

		   	&.added {
		   		animation: circlebulger .5s 1;
			}
		}
	}
}

.mini-grocery-list {
	background-color: black;
	position: relative; 

	.grocery-list-title {
		background-color: #f2f0f0;
		font-family: "fertigo_proregular", sans-serif;
	    width: 100%;
	    text-align: center;
	    height: 66px;
	    line-height: 66px;
	    margin: 0;
	}
	
	.vertical.menu {
		max-height: 80vh;
		overflow: scroll; 
		background-color: #f2f0f0;

		> li > a {
			font-weight: 900;
			color: #727171;
			text-transform: uppercase;
			font-size:12px;

			.category-name {
				padding-bottom: 7px;
    			display: block;
			}

			ul {
				margin: 0;
				list-style-type: none;
				a {
					line-height: 1.7;
					font-size: 14px;
					font-weight: 100;
					color: #727171;
					text-transform: none;
				}
			}

		
		}

		.ingredients {
			list-style-type: none;
		}
	}

	.grocery-list-actions {
		display: none;
	    background-color: #f2f0f0;

		.button {
			width: 50%;
		    display: block;    
		    margin: 10px auto;
		}
	}
}

.slideout-menu .grocery-list-actions {
	display: block;
}

.container {
	padding-top: 100px;

}